@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');

body {
    font-family: 'Barlow', sans-serif;
    background-color: #F2F2F2;
}

header {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top:30px;
    padding-bottom: 30px;
}

.header-button {
    width: 175px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: #E8EFF2;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #162542;
}

.header-button:hover {
    background-color: #162542;
    color: white;
}

.h1-paragraph {
    display:flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: #162542;
}

.head-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

.preorder-release {
    display:Flex;
    align-items: center;
    padding-left: 20px;
    gap: 30px;
}

.preorder {
    width: 165px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: #F16718;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: white;
}

.preorder:hover {
    background-color: #FF9B62;
}

.release {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

.images {
    padding-top: 65px;
    width: 360px;
    height: 657px;
}

.mobile-keyboard {
    height: 331px;
    width: 342px;
    margin-left: 20px;
    border-radius: 20px;
}

.mobile-keyboard-phone {
    position: relative;
    top: 31px;
    right: 25px;
    height: 193px;
    width: 129px;
    border-radius: 20px;
}

.mobile-keyboard-glass {
    position: relative;
    top: 30px;
    right: 10px;
    height: 193px;
    width: 210px;
    border-radius: 20px;
}

.h2-paragraph {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

h2 {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #162542;
}

.middle-paragraph {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    padding-bottom: 50px;
}

section {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.icons {
    padding-top: 100px;
    padding-bottom: 25px
}

.box-one {
   display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 39px; 
}

.box-two {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 39px; 
}

.box-three {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 39px;  
}

.box-four {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 39px; 
}

h3 {
    padding-right: 75px;
    padding-left: 75px;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #162542;
}

.section-paragraph {
    padding-right: 16px;
    padding-left: 16px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

footer {
    padding-top: 100px;
    display:Flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

.last-footer {
    font-style: normal;
    font-weight: 500;
}

.stick {
    padding-right: 5px;
    padding-left: 5px;
}

/* display none */

.keyboard-tablet {
    display: none;
}

.keyboard-phone-tablet{
    display: none;
}

.keyboard-glass-tablet {
    display: none;
}

.keyboard-desktop {
    display: none;
}

.keyboard-phone-desktop {
    display: none;
}

.keyboard-glass-desktop {
    display: none;
}

.middle-boxx {
    display:none;
}

/* --end-- */


/* tablet version */

@media only screen and  (min-width: 768px) {
    header {
        gap: 450px;
    }
    
    h1 {
        margin-top: 50px;
    }

    .h1-paragraph {
        padding-left: 50px;
        width: 350px;
    }

    .preorder-release {
        padding-left: 49px;
        width: 350px;
    }

    .keyboard-tablet-box {
        position: relative;
        left: 450px;
        bottom: 350px;
        height: 50px;
    }

    .keyboard-tablet {
        display: block;
        width: 478px;
        height: 425px;
        border-radius: 20px;
    }

    .images {
        display:flex;
        padding-left: 50px;
        gap: 25px;
        width: 0px;
        height: 400px;
    }

    .keyboard-phone-tablet{
        display: block;
        width: 214px;
        height: 320px;
        border-radius: 20px;
    }

    .keyboard-glass-tablet {
        display: block;
        width: 445px;
        height: 320px;
        border-radius: 20px;
    }

    .h2-paragraph {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 30px;
    }

    h2 {
        text-align: start;
    }

    .middle-paragraph {
        text-align: start;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    .box-one-two {
        display:flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 50px;
    }

    .box-three-four {
        display:flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    h3 {
        text-align: start;
        padding-left: 0;
    }

    section {
        padding-left: 50px;
        padding-right: 50px;
    }

    .section-paragraph {
        text-align: start;
        padding-left: 0;
    }

    .box-one {
        display:flex;
        align-items: flex-start;
    }

    .box-two {
        display:flex;
        align-items: flex-start;
    }

    .box-three {
        display:flex;
        align-items: flex-start;
    }

    .box-four {
        display:flex;
        align-items: flex-start;
    }

    /* display none */

    .mobile-keyboard {
        display: none;
    }

    .mobile-keyboard-phone {
        display: none;
    }

    .mobile-keyboard-glass {
        display: none;
    }

    .keyboard-desktop {
        display: none;
    }

    .keyboard-phone-desktop {
        display: none;
    }

    .keyboard-glass-desktop {
        display: none;
    }

    .middle-boxx {
        display:none;
    }

    /* --end--*/
}

@media only screen and (min-width: 1440px) {

    /* display none */

    .keyboard-tablet {
        display: none;
    }
    
    .keyboard-phone-tablet{
        display: none;
    }
    
    .keyboard-glass-tablet {
        display: none;
    }

    .mobile-keyboard {
        display: none;
    }

    .mobile-keyboard-phone {
        display: none;
    }

    .mobile-keyboard-glass {
        display: none;
    }

    /* --end-- */

    .keyboard-desktop {
        display: block;
        width: 540px;
        height: 480px;
        border-radius: 20px;
        margin-left: 280px;
    }

    .keyboard-phone-desktop {
        display: block;
    }

    .keyboard-glass-desktop {
        display: block;
    }

    .images {
        padding-top: 130px;
        padding-left: 170px;
    }

    body {
        background-image: url("./images/top\ rectangle.png"), url("./images/bottom\ rectangle.png");
        background-repeat: no-repeat;
        background-position-x: 100%, 0px;
        background-position-y: 170px, 862px;
    }

    header {
        gap: 880px;
    }

    .header-button {
        width: 175px;
        height: 58px;
    }

    h1 {
        font-size: 56px;
        line-height: 56px;
    }

    .head-paragraph {
        font-size: 18px;
        line-height: 26px;
    }

    .h1-paragraph {
        padding-left: 170px;
        width: 450px;
    }

    .preorder {
        width: 175px;
        height: 58px;
    }

    .release {
        font-size: 16px;
        line-height: 26px;
    }

    .preorder-release {
        padding-left: 170px;
    }

    .middle-box {
        display: none;
    }

    .h2-paragraph {
        padding-top: 50px;
        padding-left: 200px;
        display:flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
    }

    h2 {
        padding-left: 0;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-top: 100px;
        padding-left: 170px;
        padding-right: 130px;
        gap: 15px;
    }

    h3 {
        text-align: start;
        padding-left: 0;
    }

    .section-paragraph {
        text-align: start;
        padding-left: 0;
    }

    .box-one {
        display:flex;
        align-items: flex-start;
    }

    .box-two {
        display:flex;
        align-items: flex-start;
    }

    .box-three {
        display:flex;
        align-items: flex-start;
    }

    .box-four {
        display:flex;
        align-items: flex-start;
    }
}

